<!DOCTYPE html>
<html lang="en">
<head>
    <title>DnD Theaters</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Content/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    @RenderSection("style", false)
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 style="color:white;margin-top:.5em;">DnD Theaters</h3>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index","Home")" class="btn">Home</a></li>
                    <li><a href="@Url.Action("Contact","Home")" class="btn">Contact</a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a href="@Url.Action("Index","UserDetails")" class="btn">Users (Admin-Only)</a></li>
                        <li><a href="@Url.Action("Index","RolesAdmin")" class="btn">Roles (Admin-Only)</a></li>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <li><a href="@Url.Action("Index","Movies")" class="btn">Movies (Admin-Only)</a></li>
                        <li><a href="@Url.Action("Index","SeatIDs")" class="btn">Assigned Seating (Admin-Only)</a></li>
                        <li><a href="@Url.Action("Index","Showtimes")" class="btn">Showtimes (Admin-Only)</a></li>
                        <li><a href="@Url.Action("Index","TheaterMovies")" class="btn">Movies At Theaters (Admin-Only)</a></li>
                        <li><a href="@Url.Action("Index","Theaters")" class="btn">Theaters (Admin-Only)</a></li>
                        <li><a href="@Url.Action("Index","Tickets")" class="btn">Tickets (Admin-Only)</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" id="main-wrapper">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="container-fluid text-center">
        <div class="footer-left">
            <div>
                Made by: Shawn Snyder
            </div>
            <div>
                Using: Bootstrap, and Owl Carousel
            </div>
        </div>
        <div class="footer-right">
            <div>
                Placeholder text
            </div>
        </div>
        <div class="clearfix"></div>
    </footer>

    <script src="~/Content/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
