@model ShawnSnyderFinalPrject.MVC.DATA.SeatID

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SeatID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TheaterMovy.TMID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheaterMovy.TMID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ticket.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket.UserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SeatID1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
