@model IEnumerable<ShawnSnyderFinalPrject.MVC.DATA.SeatID>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Seating ID
        </th>
        <th>
            Theater 
        </th>
        <th>
            User's ID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.SeatID1
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheaterMovy.Theater.TheaterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ticket.UserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SeatID1 }) |
            @Html.ActionLink("Details", "Details", new { id=item.SeatID1 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SeatID1 })
        </td>
    </tr>
}

</table>
