@model IEnumerable<ShawnSnyderFinalPrject.MVC.DATA.TheaterMovy>

@{
    ViewBag.Title = "GetReservation";
    var dates = Model.Select(x => x.Date).Distinct().OrderBy(x=>x.Date).ToList();
}

@if (Session["error"] != null)
{
    <h4 class="text-danger">@Session["error"].ToString()</h4>
    Session["error"] = null;
}

@if (Model.Count() == 0)
{
    <h3 class="text-center">This theater is completely sold out... sorry about that</h3>
}
else
{
    <h2 class="text-center">Pick a Time</h2>

    foreach (var day in dates)
    {
        string ampm;
        <div style="border-top:2px solid gray;padding-top:1.5em;padding-left:20px">  @day.ToShortDateString()</div>

        foreach (var time in Model.Where(x => x.Date == day))
        {
            #region timestuff
            int hour = time.Showtime.Time / 100;
            int min = time.Showtime.Time % 100;
            if (hour > 11)
            {
                ampm = "pm";
                hour -= 12;
            }
            else
            {
                ampm = "am";
            }
            #endregion

            <div class="card">
                <input type="radio" name="day-time-selection" id="selectionRadio@(time.Date + "-" + time.Showtime.Time)" value="@time.TMID" onclick="updateForm(@time.TMID,@(time.ReservationLimit - time.SeatIDs.Count))" />
                <label for="selectionRadio@(time.Date + "-" + time.Showtime.Time)" class="well">
                    @((hour > 0) ? hour.ToString() : "12"):@min @ampm
                    <br />
                    Remaining seats: @Html.Raw(time.ReservationLimit - time.SeatIDs.Count)
                </label>
            </div>
        }
    }
    <br />

    using (Html.BeginForm("MakeReservation", "TheaterMovies"))
    {
    <div style="display:inline-block">
        <h4>How many tickets would you like to purchase?</h4>
        <input id="nbrTickets" type="number" min="1" value="1" class="form-control" placeholder="# of Tickets" style="width:10em;display:inline-block;" name="numOfTickets" />
        <div style="margin-top:5px;display:inline-block;margin-left:10px;">
            <input type="submit" value="Buy Tickets" class="btn btn-success" />
        </div>
    </div>
        <input type="hidden" id="tmid" name="tmid" />
    }
}


@section scripts{
    <script>
        function updateForm(tmid, limit) {
            document.getElementById("tmid").value = tmid;
            document.getElementById("nbrTickets").max = limit;
        }
    </script>
}