@model IEnumerable<ShawnSnyderFinalPrject.MVC.DATA.Showtime>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Times you can pick from</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShowtimeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShowtimeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShowtimeID })
        </td>
    </tr>
}

</table>
